* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h1, h2, h3 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

.titre {
  color: #d8cded
}

.bg-custom {
  background-color: #7e57c2;;
}


h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem; 
  font-weight: 500;
}

.pt-3 {
  padding-top: 1rem;
}

h2, h3 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.bg-custom {
  background-color: #2c2828 !important; 
}

.text-white {
  color: #fff;
}

.logo-navbar {
  height: 60px;
}

.mega-menu .fa-icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-informatique,
.icon-camera,
.icon-telephonie,
.icon-consommables {
  color: #000;
}

.icon-heart {
  color: #ff0000;  
}

.icon-shop,
.icon-user,
.icon-cart {
  color: #fff;
}

/* NavBar */
.navbar-dark .navbar-brand {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-nav {
  font-size: 0.9rem;
  margin-left: 6rem;
}

.navbar-brand img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 25px;
}

.nav-link {
  font-size: 18px;
  color: #6200b3; 
}

.nav-item {
  display: flex;
  margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ececec;
}

.form-control {
  height: auto;
  width: 25rem;
  margin-right: 0.5rem;
  background-color: #f1f2f3;
}

.custom-cart-icon {
  width: 58px;
}

.btn-outline-success {
  color: white;
  background-color: #7e57c2;
  border-color: #7e57c2;
  font-weight: bold;
  margin-right: 2rem;
}

.btn {
  font-family: "Oswald", serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #6200b3;
  border-color: #6200b3;
}

.btn:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-outline-success:hover {
  color: rgb(231, 230, 230);
  background-color: transparent;
  border-color: black;
}

.imagelogo {
  height: 60px;
}

/* Mega Menu */
.dropdown-menu.mega-menu {
  width: 300%;
  padding: 35px;
  background-color: #ffffff;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  border: 1px solid #e1e6eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item.dropdown:hover .mega-menu {
  display: flex;
}

.mega-menu .column {
  flex: 1;
  margin-right: 20px;
}

.mega-menu .column:last-child {
  margin-right: 0;
}

.mega-menu h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6200b3;  
}

.mega-menu ul {
  padding-left: 0;
  list-style: none;
}

.mega-menu ul li {
  margin-bottom: 8px;
}

.mega-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.mega-menu ul li a:hover {
  color: #6200b3; 
  text-decoration: underline;
}

.fa-icone {
  padding-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


.dropdown-menu {
  background-color: rgb(27, 27, 27);
}
.dropdown-menu .dropdown-item {
  color: white; /
}
.dropdown-menu .dropdown-item:hover {
  background-color: #6200b3; 
  color: white; 
}
.dropdown-divider {
  border-color: white;
}

/* Footer */
.text-white a {
  color: #ffffff;
}

.text-white a:hover {
  color: #adb5bd;
}

.card {
  padding: 1px;
  border: none;
  background-color: #363636;
}

.card-img-top {
  max-width: 100%;
  max-height: 65%;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 10px;
}

.card-text {
  font-size: 1rem;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image commerciale accueil */

.imagecommercial {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.image-apindex {
  margin-left: 6rem;
  width: 700;
  height: 700;
}

/*Fin Accueil */

.card-body {
  background-color: #2d2c2e;
  border: none;
}



.services-card {
  background-color: #c2c0c0;
  border-radius: 5%;
  padding: 40px;
}