* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.bg-custom {
  background-color: #3f3f3f !important;  /* Couleur de fond plus marquée */
}

.text-white {
  color: #fff;
}

.logo-navbar {
  height: 60px;
}

.mega-menu .fa-icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-informatique,
.icon-camera,
.icon-telephonie,
.icon-consommables {
  color: #000; /* Tous ces icônes ont un fond noir */
}

.icon-heart {
  color: #ff0000;  /* Rouge pour l'icône cœur */
}

.icon-shop,
.icon-user,
.icon-cart {
  color: #fff; /* Icônes en blanc */
}

body {
  background-color: #cad3e7; /* Bleu clair pour le fond général */
}

/* NavBar */
.navbar-dark .navbar-brand {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-nav {
  font-size: 0.9rem;
  margin-left: 6rem;
}

.navbar-brand img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 25px;
}

.nav-link {
  font-size: 18px;
  color: #e1e6eb;
}

.nav-item {
  display: flex;
  margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ececec;
}

.form-control {
  height: auto;
  width: 25rem;
  margin-right: 0.5rem;
  background-color: #f1f2f3;
}

.custom-cart-icon {
  width: 58px;
}

.btn-outline-success {
  color: white;
  background-color: rgb(41, 112, 194); /* Bleu pour le bouton */
  border-color: rgb(41, 112, 194);
  font-weight: bold;
  margin-right: 2rem;
}

.btn-outline-success:hover {
  color: rgb(231, 230, 230);
  background-color: transparent;
  border-color: black;
}

.imagelogo {
  height: 60px;
}

/* Mega Menu */
.dropdown-menu.mega-menu {
  width: 300%;
  padding: 35px;
  background-color: #ffffff;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  border: 1px solid #e1e6eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-item.dropdown:hover .mega-menu {
  display: flex;
}

.mega-menu .column {
  flex: 1;
  margin-right: 20px;
}

.mega-menu .column:last-child {
  margin-right: 0;
}

.mega-menu h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0056b3; 
}

.mega-menu ul {
  padding-left: 0;
  list-style: none;
}

.mega-menu ul li {
  margin-bottom: 8px;
}

.mega-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.mega-menu ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fa-icone {
  padding-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


.dropdown-menu {
  background-color: rgb(27, 27, 27);
}
.dropdown-menu .dropdown-item {
  color: white; /
}
.dropdown-menu .dropdown-item:hover {
  background-color: #0056b3; 
  color: white; 
}
.dropdown-divider {
  border-color: white;
}

/* Footer */
.text-white a {
  color: #ffffff;
}

.text-white a:hover {
  color: #adb5bd;
}

.card {
  transition: transform 0.2s;
  padding: 1px;
  border: none;
  background-color: #fff;
}

.card-img-top {
  max-width: 100%;
  max-height: 65%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 10px;
}

.card-text {
  font-size: 1rem;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image commerciale accueil */
.imagecommercial {
  display: flex;
  justify-content: right;
  padding-top: 4rem;
}
