{% extends 'base.html.twig' %}

{% block title %}LDW - Connexion{% endblock %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center my-5 fw-bold">Identifiez-vous</h1>
            {% if form.message is defined %}
            <div class="alert alert-danger text-center" role="alert">
             {{ form.message }}
             </div>
            {% endif %}
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h2 class="card-title text-center">Déjà client ?</h2>
                    <form action="?page=connexion" method="post">
                        <div class="form-group p-3">
                            <label for="inputEmail">Votre email :</label>
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control w-100" required>
                        </div>
                        <div class="form-group p-3">
                            <label for="inputPassword">Votre mot de passe :</label>
                            <div class="input-group">
                                <input type="password" id="inputPassword" name="inputPassword" class="form-control" minlength="8" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-light" type="button" onclick="togglePassword()">👁</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Rester connecté</label>
                        </div>
                        <button type="submit" name="btConnecter" class="btn btn-primary btn-block">Connexion</button>
                    </form>
                    <a href="#" class="d-block text-center mt-3 text-white">Vous avez oublié votre mot de passe ?</a>
                </div>
            </div>
            <div class="text-center my-5">
                <h2 class="fw-bold">Nouveau client ?</h2>
                <a href="?page=inscrire" class="btn btn-primary">Créez un compte</a>
            </div>
        </div>
    </div>
</div>

<script>

function togglePassword() {
    const passwordInput = document.getElementById('inputPassword');
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
    } else {
        passwordInput.type = 'password';
    }
}

</script>

{% endblock %}

