{% extends 'base.html.twig' %}

{% block title %}NetTech - Accueil{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003366;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/public/images/nettechfondtransp.png" alt="NetTech Logo" style="height: 60px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="?page=produits" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa-regular fa-gem fa-lg" style="color: #ffffff;"></i>
    Tous nos produits
  </a>
  <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
    <div class="column">
    <div class="fa-icone">
    <i class="fa-solid fa-computer fa-xl" style="color: #000000;"></i>
      <h6>Informatique</h6>
      </div>
      <ul>
        <li><a href="#">Ordinateurs</a></li>
        <li><a href="#">Périphériques</a></li>
        <li><a href="#">Réseau</a></li>
      </ul>
    </div>
    
    <div class="column">
    <div class="fa-icone">
    <i class="fa-solid fa-camera fa-xl"></i>
      <h6>Image & Son</h6>
      </div>
      <ul>
        <li><a href="#">TV</a></li>
        <li><a href="#">Son</a></li>
      </ul>
    </div>

    <div class="column">
    <div class="fa-icone">
    <i class="fa-solid fa-mobile fa-xl"></i>
    </div>
      <h6>Téléphonie & Auto</h6>
      <ul>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">GPS</a></li>
      </ul>
    </div>
    <div class="column">

<div class="fa-icone">
<i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
      <h6>Seconde Vie</h6>
      </div>
      <ul>
        <li><a href="#">Reconditionné</a></li>
        <li><a href="#">Recyclé</a></li>
      </ul>
    </div>
    <div class="column">

    <div class="fa-icone">
    <i class="fa-solid fa-droplet fa-xl" style="color: #000000;"></i>
      <h6>Consommables</h6>
      </div>
      <ul>
        <li><a href="#">Cartouches d'encre</a></li>
        <li><a href="#">Toners</a></li>
      </ul>
    </div>
  </div>
</li>
      </ul>
      <form class="d-flex me-auto">
        <input class="form-control" type="search" placeholder="Rechercher un produit..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
          <li class="nav-item">
          <a class="nav-link" href="?page=#">
          <i class="fa-solid fa-shop fa-lg" style="color: #ffffff;"></i>
          <span>Nos Boutiques</span>

          <li class="nav-item">
          <a class="nav-link" href="?page=connexion">
           <i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i>
          <span>Comptes</span>

        <li class="nav-item">
          <a class="nav-link" href="?page=panier">
          <i class="fa-solid fa-cart-shopping fa-beat fa-lg" style="color: #ffffff;"></i>
          <span>Panier</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="imagecommercial">
    <img src="/public/images/imagecommercial.jpg" alt="imagecommercial">
</div>

<div class="container my-5">
    <h1 class="text-center mb-5 text-white">Univers Populaires</h1>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/apple.PNG" class="card-img-top" alt="Apple">
                <div class="card-body text-center">
                    <h5 class="card-title">Apple</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/pcportables.PNG" class="card-img-top" alt="PC portables">
                <div class="card-body text-center">
                    <h5 class="card-title">PC portables</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/périphérique.PNG" class="card-img-top" alt="Périphériques">
                <div class="card-body text-center">
                    <h5 class="card-title">Périphériques</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/pc.png" class="card-img-top" alt="PC LDLC">
                <div class="card-body text-center">
                    <h5 class="card-title">PC</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/tv.png" class="card-img-top" alt="TV">
                <div class="card-body text-center">
                    <h5 class="card-title">TV</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/smartphones.png" class="card-img-top" alt="Smartphones">
                <div class="card-body text-center">
                    <h5 class="card-title">Smartphones</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/son.png" class="card-img-top" alt="Son">
                <div class="card-body text-center">
                    <h5 class="card-title">Son</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white ">
                <img src="./images/composants.png" class="card-img-top" alt="Composants">
                <div class="card-body text-center">
                    <h5 class="card-title">Composants</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <li class="text-center"><a class="text-white" href="?page=mentions-légales">Mentions Légales</a></li>
    </div>
</footer>
{% endblock %}
