{% extends 'base.html.twig' %}

{% block title %}LDW - Accueil{% endblock %}

{% block body %}

<div class="imagecommercial d-flex align-items-center">
<div>
    <h1 class="titre mr-4">Le Design Du Web</h1>
    <h3 class="text-white pt-3">Services et vente Informatique dans les règles de l'art</h3>
    </div>
    <img class="image-apindex" src="/public/images/index/Typing-bro.png" alt="imagecommercial" class="img-fluid">
</div>

<div class="container my-5">
<h2 class="text-center mb-5 pt-5 text-white">Univers Populaires</h2>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/apple.PNG" class="card-img-top" alt="Apple">
                <div class="card-body text-center">
                    <h5 class="card-title">Apple</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/pcportables.PNG" class="card-img-top" alt="PC portables">
                <div class="card-body text-center">
                    <h5 class="card-title">PC portables</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/périphérique.PNG" class="card-img-top" alt="Périphériques">
                <div class="card-body text-center">
                    <h5 class="card-title">Périphériques</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/pc.png" class="card-img-top" alt="PC LDLC">
                <div class="card-body text-center">
                    <h5 class="card-title">PC</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/tv.png" class="card-img-top" alt="TV">
                <div class="card-body text-center">
                    <h5 class="card-title">TV</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/smartphones.png" class="card-img-top" alt="Smartphones">
                <div class="card-body text-center">
                    <h5 class="card-title">Smartphones</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <img src="./images/son.png" class="card-img-top" alt="Son">
                <div class="card-body text-center">
                    <h5 class="card-title">Son</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-secondary text-white ">
                <img src="./images/composants.png" class="card-img-top" alt="Composants">
                <div class="card-body text-center">
                    <h5 class="card-title">Composants</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <li class="text-center"><a class="text-white" href="?page=mentions-légales">Mentions Légales</a></li>
    </div>
</footer>
{% endblock %}
