{% extends 'base.html.twig' %}

{% block title %}LDW - Accueil{% endblock %}

{% block body %}

 <form action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center my-5">Inscription</h1>
                <div class="card text-white">
                    <div class="card-body">
                        <div>
                            {% if form is defined %}
                                {% if form.valide is not empty %}
                                    <div class="alert {% if form.valide %}alert-success{% else %}alert-danger{% endif %}">
                                        {{ form.message }}
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if form.valide is defined %}
                            {% if form.valide == true %}
                                <h1>Inscription réussie</h1>
                                {% if form.role == 1 %}
                                    <h2>Vous êtes administrateur du site</h2>
                                {% else %}
                                    <h2>Bienvenue {{ form.prenom }}</h2>
                                {% endif %}
                            {% else %}
                                <h2>Echec de l'inscription</h2>
                                <h2>Erreur : {{ form.message }}</h2>
                            {% endif %}
                        {% endif %} 

                        <div class="p-3">
                            <div class="form-group m-3">
                                <label for="inputNom">Nom</label>
                                <div class="input-group">
                                    <input type="text" id="inputNom" name="inputNom" class="form-control p-2" required> 
                                </div>
                            </div>

                            <div class="form-group m-3">
                                <label for="inputPrenom">Prénom</label>
                                <div class="input-group">
                                    <input type="text" id="inputPrenom" name="inputPrenom" class="form-control p-2" required>
                                </div>
                            </div>

                            <div class="form-group m-3">
                                <label for="inputEmail">Votre email :</label>
                                <div class="input-group">
                                    <input type="email" id="inputEmail" name="inputEmail" class="form-control p-2" required>
                                </div>
                            </div>

                            <div class="form-group m-3">
                                <label for="inputPassword">Votre mot de passe :</label>
                                <div class="input-group">
                                    <input type="password" id="inputPassword" name="inputPassword" class="form-control p-2" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light p-2" type="button" onclick="togglePassword()">👁</button> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-3">
                                <label for="inputPassword2">Confirmez votre mot de passe :</label>
                                <div class="input-group">
                                    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control p-2" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light p-2" type="button" onclick="toggleConfirmPassword()">👁</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="role" value="2">

                        <button type="submit" name="btInscrire" class="btn btn-primary">S'inscrire</button>
                    </div>
                    <a href="?page=connexion" class="d-block text-center p-3 text-white">Déjà inscrit ? Connectez-vous</a>
                </div>
            </div>
        </div>
    </div>
</form>



<script>
    function togglePassword() {
        var passwordField = document.getElementById("inputPassword");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }

    function toggleConfirmPassword() {
        var confirmPasswordField = document.getElementById("inputPassword2");
        if (confirmPasswordField.type === "password") {
            confirmPasswordField.type = "text";
        } else {
            confirmPasswordField.type = "password";
        }
    }

    inscrireControleur($twig, $conn);

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
