{% extends 'base.twig' %}

{% block title %}LDW - Nos Services{% endblock %}

{% block body %}
<div class="imagecommercial d-flex align-items-center">
    <div>
        <h1 class="titre mr-4">Vous souhaitez une prestation pour ? </h1>
    </div>

<div class="container pt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="services-card">
                <img src="/public/images/services/developpement.png" class="card-img-top" alt="Développement Informatique">
                    <h2 class="card-title text-white">Développement Informatique</h2><br>
                    <p class="card-text text-white">Création de logiciels sur mesure pour répondre à vos besoins spécifiques, développement web, applications mobiles et solutions cloud.</p><br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/public/images/services/Montage.png" class="card-img-top" alt="Montage PC">
                <div class="card-body">
                    <h2 class="card-title text-white">Montage de PC</h2><br>
                    <p class="card-text text-white">Assemblage de votre PC sur mesure selon vos besoins : gaming, bureautique, station de travail.</p><br><br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/public/images/services/dépannage.png" class="card-img-top" alt="Dépannage Informatique">
                <div class="card-body">
                    <h2 class="card-title text-white">Dépannage Informatique</h2><br>
                    <p class="card-text text-white">Réparation rapide et efficace de vos équipements informatiques : PC, ordinateurs portables, réseaux et plus encore.</p><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <li class="text-center"><a class="text-white" href="?page=mentions-légales">Mentions Légales</a></li>
    </div>
</footer>
{% endblock %}
